.button {
  height: 38px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  font-size: 14px;
  line-height: 14px;
}

.button:hover {
  opacity: 0.95;
}

.button--primary {
  background-color: var(--primary);
  color: #ffffff;
}

.button--secondary {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid #d1d0d9;
}

.button--danger {
  background-color: var(--danger);
  color: #ffffff;
}

.button--flat {
  background-color: transparent;
  color: var(--text-darker);
}
